langchain
langchain-community
langchain-groq
langchain-huggingface
langgraph
fastapi
uvicorn
chromadb
langchain-chroma
joblib
pandas
sentence-transformers
pydantic
python-dotenv
duckduckgo-search
jinja2
aiofiles
